body {
  background-image: url(./Tech\ Company\ Simple\ Red\ Trifold\ Brochure\ \ \(1\).gif);
  background-size: cover;
  min-height: 90vh;
  background-position: center;


}

nav {
  margin-top: 30px;
  background-color: transparent;
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

li a {
  padding: 10px;
  text-decoration: none;
  color:  #FFFFF9;/* Set the color of the links to white */
  font-family: 'Merriweather', serif;
}

.btn {
  background: #399d97;
  background-image: -webkit-linear-gradient(top, #399d97, #2980b9);
  background-image: -moz-linear-gradient(top, #399d97, #2980b9);
  background-image: -ms-linear-gradient(top, #399d97, #2980b9);
  background-image: -o-linear-gradient(top, #399d97, #2980b9);
  background-image: linear-gradient(to bottom, #399d97, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Merriweather', serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.header{
 color: #399d97;
 font-size: 50px;
 font-family: 'Merriweather', serif;
 
}

.header1{
  color: #FFFFF9;
  font-size: 30px;
  font-family: 'Merriweather', serif;
  
 }

.box1{
margin-top: 150px ;
margin-left: 50px;
}

.box2{
  margin-left: 90px;
  margin-top: 60px;
}
@keyframes glow {
  0% {
    text-shadow: 0 0 10px rgba(57, 157, 151, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(57, 157, 151, 0.9), 0 0 30px rgba(57, 157, 151, 0.6);
  }
  100% {
    text-shadow: 0 0 10px rgba(57, 157, 151, 0.7);
  }
}

.glow-animation {
  animation: glow 2s infinite;
  color: #399d97;
}

